<h3>Selected parts of cookie</h3>
<ul>
  {{#with cookie}}
    <li>Base: {{cookie.base}} - {{findPrice bases cookie.base}}</li>
    {{#each cookie.addons}}
      <li>Addon: {{this}} - {{findPrice @root.addons this}} PLN</li>
    {{/each}}
  {{/with}}
</ul>
<p>
  <strong>Total of {{pricify sum}} PLN</strong>
</p>
